body, html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height:100%;
}

body h1 {
  font-family: 'Roboto Slab', serif;
	font-weight: 500;
}

.wrap {
  height: 100%;
}

#nav-top {
  /*position: fixed;*/
  height: 60px;
  width: 100%;
  background-color: #fff;
  border-bottom: 3px solid #ccc;
  line-height: 60px;
}

#nav-top .nav-left {
  float: left;
  padding-left: 10px;
}

#nav-list-title {
  font-weight: 200;
  font-size: 24px;
}

.wrap-body-block {
  height:100%;
}

.home-content {
  margin: 0 auto;
  text-align: center;
  background: url('../img/home-cover.png');
  height: 350px;
}

.home-content .home-headline {
  margin-bottom: 60px;
  padding-top: 60px;
  color: #fff;
  font-size: 40px;
}

input, textarea {
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 20px;
  padding: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

input[type="file"] {
  border: none;
}

#home-search-input {
  font-size: 20px;
  font-family: inherit;
  font-weight: 200;
  border: 3px solid #4DB5BD;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 10px 10px 10px;
  width: 300px;
}

#home-search-input:focus {
  outline: none;
  border: 3px solid #5BADB3;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ddd;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ddd;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ddd;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ddd;
}

.content {
  margin: 0 auto;
  text-align: center;
}

.event-headline {
  padding-top: 40px;
  margin-bottom: 20px;
  font-size: 36px;
}

.video-controls {
  margin: 0 auto;
  margin-top: 10px;
  /*height: 200px;*/
  border: 1px solid #ccc;
  width: 550px;
}

.nav-right {
  float: right;
  padding-right: 10px;
}

.nav-right .btn-primary {
  width: 150px;
}

.btn-primary {
  background-color: #5BADB3;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: inherit;
  font-weight: 200;
  font-size: 17px;
  padding: 7px;
  width: 100px;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: #3F9196;
}

.user-headline {
  padding-top: 40px;
  font-size: 36px;
}

.user-videos-container {
  margin-top: 20px;
}

.user-video {
  display: inline-block;
  padding: 10px;
}

.headline {
  padding-top: 40px;
  margin-bottom: 20px;
  font-size: 36px;
}

a {
  text-decoration: none;
}

#create-event-popup {
  display: none;
}

#create-event-popup.active {
  display: block;
  position: absolute;
  right: 10px;
  background-color: white;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: 3px solid #ccc;
  border-top: none;
  padding: 10px 15px 15px 15px;
}

#create-event-input {
  font-size: 16px;
}

.create-an-event {
  font-weight: 400;
  font-size: 18px;
}

#add-a-video {
  font-size: 18px;
  width: 150px;
}

#upload-video-popup {
  display: none;
}

#upload-video-popup.active {
  display: block;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  border: 3px solid #ccc;
  top: 142px;
  right: 78px;
  padding-bottom: 5px;
}

#upload-video-popup input {
  font-size: 16px;
  font-weight:200;
  width:220px;
}

#upload-video-popup button {
  font-size: 16px;
}

.headline-wrap {
  width: 400px;
  margin: 0 auto;
  position: relative;
}

.btn-secondary {
  background-color: #999;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: inherit;
  font-weight: 200;
  font-size: 17px;
  padding: 7px;
  width: 100px;
}




