body, html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height:100%;
}

body h1 {
  font-family: 'Roboto Slab', serif;
	font-weight: 300;
}

.wrap {
  height: 100%;
}

#nav-top {
  /*position: fixed;*/
  height: 50px;
  width: 100%;
  background-color: #fff;
  border-bottom: 3px solid #ccc;
  line-height: 50px;
}

#nav-top .nav-left {
  float: left;
  padding-left: 10px;
}

#nav-list-title {
  font-weight: 200;
  font-size: 24px;
}

.wrap-body-block {
  height:100%;
}

.home-content {
  margin: 0 auto;
  text-align: center;
  background: url('../img/home-cover.png');
  height: 350px;
}

.home-content .home-headline {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 60px;
  padding-top: 60px;
  color: #fff;
}

#home-search-input {
  font-size: 20px;
  font-family: inherit;
  font-weight: 300;
  border: 3px solid #4DB5BD;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  width: 300px;
}

#home-search-input:focus {
  outline: none;
  border: 3px solid #5BADB3;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ddd;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ddd;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ddd;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ddd;
}

