{% extends "layout.html" %}
{% block body %}
  <script>
      window.document.title = '{{name}}';

      var videos = new Array();
      var offsets = new Array();
      var playingVid = 0;

      {% set count = 0 %}
      {% for i in video_list %}
      offsets[{{count}}] = {{ i.offset }};
      {% set count = count +1 %}
      {% endfor %}

      var myVar = setInterval(function(){myTimer()}, 500);
      var startTime =0;
      function myTimer(){
        //var $visible = $('.video:visible');
        //console.log($visible.paused);
        currentVideo = 0;
        initialVideo = 0;
        var d = new Date();
        var n = d.getTime();
        for (i = initialVideo+1; i < videos.length; i++){
            console.log(n-startTime);
            if( videos[i].paused &&  (n - startTime)/1000 > offsets[i] && (n-startTime)/1000 < offsets[i]+videos[i].duration){
                videos[i].play();
                videos[i].muted = true;
            }

        }
      }


      function playVid(v){
        //console.log(offsets);
        videos[v].currentTime = videos[0].currentTime - offsets[v];
        videos[v].play();
      }

      function start(){
          var d = new Date();
          startTime = d.getTime();
          videos[0].play();
      }

      function circleNumber(num){
        if(num < 0){
          return videos.length-1;
        }else if(num >= videos.length){
          return 0;
        }else{
          return num;
        }


      }

      function prev(){
        videos[playingVid].style.display = "none";
        videos[playingVid].muted = true;

        playingVid = circleNumber(playingVid - 1);

        videos[playingVid].style.display = "inline-block";
        videos[playingVid].muted = false;
      }

      function next(){
        videos[playingVid].style.display = "none";
        videos[playingVid].muted = true;

        playingVid = circleNumber(playingVid + 1);

        videos[playingVid].style.display = "inline-block";
        videos[playingVid].muted = false;
      }




  </script>

  <div id="event-wrap">
    <div class="event-content content">
      <h1 class="event-headline headline">Welcome to {{ evt.title }}</h1>
      <div class="video-stage">
        <div class="contentFrame" id="contentFrame1">
          {% set count = 0 %}
          {% for video in video_list %}

          <video {% if count > 0 %} style="display:none" {% endif %} id="{{ video.objectId }}" data-vid-id="0" class="video" width="650px" height="450px">
            <source src="http://localhost:5000/static/vid/{{ video.objectId }}"  type="video/mp4" />
          </video>

          {% set count = count + 1 %}
          {% endfor %}
        </div>
      </div>
      <div class="video-controls">
        <button class='btn-primary' onclick="prev()">prev</button>
        <button class='btn-primary' onclick="start()">play</button>
        <button class='btn-primary' onclick="pause()">pause</button>
        <button class='btn-primary' onclick="next()">next</button>
    </div>
  </div>

  <script>
    {% set count = 0 %}
    {% for i in video_list %}
    videos[{{count}}] = document.getElementById('{{ i.objectId }}');
    {% set count = count +1 %}
    {% endfor %}
    console.log(videos);
  </script>

        Fill this in
        <a href="/upload?event={{ evt.objectId }}"> add video </a>
        <br/>
        {% for i in videos %}
            {{ i.objectId }} <br/>
        {% endfor  %}
      </div>
    </div>
  </div>

{% endblock %}
