{% extends "layout.html" %}
{% block body %}
  <script>
      window.document.title = '{{name}}';

      var videos_list = [{id: 0, offset: 0}, {id: 1, offset: 25}, {id: 2, offset: 45}];

      console.log(videos_list);

      var videos = new Array();
      var offsets = new Array();
      var visible = $('')

      for (x in videos_list){
        console.log(x);
        offsets[videos_list[x].id] = videos_list[x].offset;
        console.log(offsets);
      }

      var myVar = setInterval(function(){myTimer()}, 500);

      function myTimer(){
        //var $visible = $('.video:visible');
        //console.log($visible.paused);
        currentVideo = 0;
        initialVideo = 0;
          for (i = initialVideo+1; i < videos.length; i++){
            if (videos[currentVideo].paused) {
              if (videos[currentVideo].currentTime >= offsets[i]) {
                //videos[currentVideo].style.display = 'none';
                //videos[i].style.display = 'inline-block';
                console.log(i);
                videos[i].volume = 1;
                currentVideo = i;
              }
              console.log(videos[i]);
            }
            else {
              if (videos[currentVideo].currentTime >= offsets[i]){
                console.log('not paused', i);
                playVid(i);
                muteVid(i);
              }
            }
          //&& videos[currentVideo].currentTime >= 
        }
      }

      function muteVid(v){
        videos[v].volume = 0;
      }

      function playVid(v){
        //console.log(offsets);
        videos[v].currentTime = videos[0].currentTime - offsets[v];
        videos[v].play();
        videos[v].volume=0;
      }
    



  </script>

  <div id="event-wrap">
    <div class="event-content content">
      <h1 class="event-headline headline">Welcome to {{ evt.title }}</h1>
      <div class="video-stage">
        <div class="contentFrame" id="contentFrame1">
          <video id="video0" data-vid-id="0" class="video" width="650px" height="450px">
            <source src="http://localhost:5000/static/vid/test1.mp4"  type="video/mp4" />
          </video>
          <video id="video1" data-vid-id="1" class="video" style='display:inline-block' width="650px" height="450px">
            <source src="http://localhost:5000/static/vid/test2.mp4"  type="video/mp4" />
          </video>
          <video id="video2" data-vid-id="2" class="video" style='display:inline-block' width="650px" height="450px">
            <source src="http://localhost:5000/static/vid/test3.mp4"  type="video/mp4" />
          </video>
        </div>
      </div>
      <div class="video-controls">
        <button class='btn-primary' onclick="document.getElementById('video0').play();">play</button>
        <button class='btn-primary' onclick="document.getElementById('video0').pause();">pause</button>
    </div>
  </div>

  <script>
    videos[0] = document.getElementById('video0');
    videos[1] = document.getElementById('video1');
    videos[2] = document.getElementById('video2');
    console.log(videos);
  </script>

{% endblock %}
        Fill this in
        <a href="/upload?event={{ evt.objectId }}"> add video </a>
        <br/>
        {% for i in videos %}
            {{ i.objectId }} <br/>
        {% endfor  %}
      </div>
    </div>
  </div>

{% endblock %}
