<!doctype html>
<title>Fiddler</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/reset.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


<script type="text/javascript">
    function newEvent(){
        window.location="createEvent?title=test";
    }
</script>

<div class="wrap">

  {% block nav %}
    <div id="nav-top">
      <div class="nav-list-wrap">
        <ul class="nav-left">
          <li id="nav-list-title">
            <a href="/">
              Fiddler
            </a>
          </li>
        </ul>
        <ul class="nav-right">
          <button class="btn btn-primary" onclick="newEvent()">Create Event</button>
        </ul>
      </div>
    </div>
  {% endblock %}

  <div class="wrap-body-block">
    {% block body %}{% endblock %}
  </div>
</div>
