{% extends "layout.html" %}
{% block body %}

  <h1 class="upload-headline headline">
    Upload
  </h1>
  <script type="text/javascript">
  function changeFile(){
  var x = document.getElementById("videofile");
  document.getElementById("lmd").value = x.files[0].lastModifiedDate;
  }
  </script>

  <div>
  	<form action="/upload" method="POST" enctype="multipart/form-data">
  		<div>
   			<input type="file" name="videofile" size="40" id="videofile" onchange="changeFile()">
               <input type="hidden" name="lmd" id="lmd" >
    	</div>

  		<button class="btn-primary btn-upload" type="submit"/>Submit</button>
  	</form>
  </div>

{% endblock %}


margin:0 auto
