{% extends "layout.html" %}
{% block body %}
  
  <div id="user-wrap">
    <div class="user-content content">
      <h1 class="user-headline headline">My Videos</h1>
      <div class="user-videos-container">
        <div class="user-video">
          <img src="http://placehold.it/250x150">
        </div>
        <div class="user-video">
          <img src="http://placehold.it/250x150">
        </div>
        <div class="user-video">
          <img src="http://placehold.it/250x150">
        </div>
        <div class="user-video">
          <img src="http://placehold.it/250x150">
        </div>
        <div class="user-video">
          <img src="http://placehold.it/250x150">
        </div>
        <div class="user-video">
          <img src="http://placehold.it/250x150">
        </div>
        <div class="user-video">
          <img src="http://placehold.it/250x150">
        </div>
      </div>
    </div>
  </div>

{% endblock %}